---
export interface Props {
  id: string;
  subtitle: string;
  title: string;
}

const { title, subtitle, id } = Astro.props;
---

<section id={id} class="flex scroll-mt-24 flex-col items-center gap-4">
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2 class="text-center font-heading text-primary text-6xl">
      {title}
    </h2>
  </div>
  <h3 class="max-w-xl text-center text-xl">
    {subtitle}
  </h3>
  <p class="max-w-xl text-center">
    <slot name="lead" />
  </p>
  <slot />
</section>
