---
import Icon from "astro-icon/components/Icon.astro";

export interface Props {
  id: string;
  targent: string;
}

const { id, target } = Astro.props;
---

<a
  class="absolute bottom-6 left-1/2 animate-fade-move-down"
  class="btn sm:hidden"
  href={target}
>
  <Icon
    id={id}
    name="pixelarticons:chevron-down"
    class="h-8 -translate-x-1/2 transition-opacity duration-300"
  />
</a>

<style>
  [astro-icon] {
    color: var(--color-primary);
  }
</style>
