---
import { Icon } from "astro-icon";
const id = Astro.props.id;
---

<a
  class="absolute left-1/2 bottom-6 animate-fade-move-down"
  class="btn sm:hidden"
  href="/#what-is-orble"
>
  <Icon
    id={id}
    name="pixelarticons:chevron-down"
    class="h-8 -translate-x-1/2 transition-opacity duration-300"
  />
</a>

<style>
  /* [astro-icon] {
    color: var(--color-secondary);
    } */
</style>
