---
import { Image, Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import machineImage from "~/assets/machine_render.png";
import logo from "~/assets/logo_white.png";
import Boba3D from "~/components/boba-3d.astro";
---

<section class="relative h-full bg-white">
  <!-- <Starfield /> -->
  <!-- <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40"> -->
  <!-- <HeroImage /> -->
  <!-- </div> -->
  <div
    class="relative grid h-[calc(100%-4rem)] place-items-center sm:grid-cols-2"
  >
    <h2 class="self-end sm:self-auto sm:justify-self-end">
      <Icon name="logo" class="h-24 md:h-32 m-auto pb-4" />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-3xl sm:text-5xl"
      >
        Your Tea. <br />
        How you like it. <br />
        On your time.
      </div>
    </h2>
    <!-- <Boba3D /> -->
    <!-- <div class="h-full"> -->
    <Image
      class="h-auto max-h-[60%] w-auto max-w-[90%]"
      src={machineImage}
      loading="eager"
      alt="3D render of the Orble Boba Tea Machine"
    />
    <!-- </div> -->
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>
