---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import machineImage from "$assets/machine_render.png";
import betaImage from "$assets/beta-render.webp";
---

<section class="relative h-full bg-slate-50">
  <div
    class="flex h-[calc(100%-4rem)] flex-col items-center justify-center gap-8 py-8 sm:flex-row sm:gap-20 sm:py-0"
    id="splash"
  >
    <!-- left render -->
    <Image
      class="h-auto max-h-[25vh] w-auto max-w-[70%] sm:max-h-[70%] sm:max-w-[80%]"
      src={betaImage}
      alt="3D render of the Orble Beta Boba Tea Machine"
    />

    <!-- text -->
    <h2 class="flex flex-shrink-0 flex-col items-center text-center sm:mx-16">
      <Icon name="logo" class="m-auto h-24 pb-4 md:h-32" />
      <div class="font-heading leading-tight text-3xl sm:text-5xl">
        Your fully<br />
        au<span class="text-primary">tea</span>matic <br />
        boba machine.
      </div>
    </h2>

    <!-- right render -->
    <Image
      class="h-auto max-h-[25vh] w-auto max-w-[70%] sm:max-h-[70%] sm:max-w-[80%]"
      src={machineImage}
      loading="eager"
      alt="3D render of the Orble Boba Tea Machine"
    />
  </div>
</section>
