---
import { Image } from "@astrojs/image/components";
import { members } from "$content/about";

import ContentSection from "$layouts/content-section.astro";
import type { SectionInfo } from "~/types";

export interface Props {
  info: SectionInfo;
}

const { info } = Astro.props;
---

<ContentSection info={info}>
  <ul class="mt-4 flex max-w-6xl flex-col gap-4 sm:flex-row sm:gap-8">
    {
      members.map(({ name, bio, picture }) => (
        <div>
          <Image
            class="headshot m-auto"
            width={250}
            height={250}
            position="entropy"
            format="webp"
            src={picture}
            alt={"Picture of " + name}
          />
          <p class="text-center font-bold">{name}</p>
          {bio.map((b) => (
            <p class="py-1 text-center text-offset text-xs">{b}</p>
          ))}
        </div>
      ))
    }
  </ul>
</ContentSection>

<style>
  .headshot {
    clip-path: circle();
  }
</style>
