---
import type { SectionInfo } from "~/types";

export interface Props {
  info: SectionInfo;
}

const { info } = Astro.props;
---

<section id={info.id} class="flex scroll-mt-24 flex-col items-center gap-4">
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    {
      info.title && (
        <h2 class="text-center font-heading text-primary text-6xl">
          {info.title}
        </h2>
      )
    }
  </div>
  {
    info.subtitle && (
      <h3 class="text-center text-base sm:text-xl">{info.subtitle}</h3>
    )
  }
  {
    info.Body && (
      <div class="markdown-render text-center text-sm sm:text-base">
        <info.Body />
      </div>
    )
  }
  <slot />
</section>
