---
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";

import ContentSection from "$layouts/content-section.astro";
import type { SectionInfo } from "~/types";

export interface Props {
  info: SectionInfo;
}

const { info } = Astro.props;

const collection = await getCollection("what-is-it");
const points = await Promise.all(
  collection.map(async (p) => ({
    order: p.data.order,
    heading: p.data.heading,
    icon: p.data.icon,
    Body: (await p.render()).Content,
  }))
);

points.sort((a, b) => a.order - b.order);
---

<ContentSection info={info}>
  <ul class="mt-2 grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      points.map(({ heading, icon, Body }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-primary p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold">{heading}</p>
          <div class="markdown-render text-center text-offset text-sm">
            <Body />
          </div>
        </li>
      ))
    }
  </ul>
</ContentSection>
